extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9
        h1 Patrick Peter Zohdy
        p.lead.text-light
          | Full Stack JavaScript Developer.

        //- Replace the boilerplate below with your Elevator pitch below.
        .portfolio-bio
          p With over a decade of working in the Music Industry as a consultant, DJ, producer and radio host, I've always been curious about the technology side of things. I started writing code to be able to build and manipulate synthesizers and drum machines. Slowly, I found myself spending a lot more time coding than writing music and decided to solely focus on programming.<br/> <br/> My background in the Music Business is very different from any programmer that I know of. I've been able to develop considerable skills in regards to working with people from a variety of cultural and socio-economic backgrounds. This has equipped me with strong communication and collaboration skills and a practical approach to business.
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills
        ul
          li Javascript
          li Node.JS
          li OOP
          li ES6
          li JQuery
          li HTML
          li CSS
          li SaSS
          li Java
          li Android
          li MongoDB
          li MySQL
        h6 Contact Info
        ul
          li +45 26 71 99 45
          li mail@zohdy.dk
        a.button.expanded(href='https://www.linkedin.com/in/patrick-peter-zohdy/') LinkedIn
        a.button.expanded(href='https://github.com/zohdy') GitHub
        a.button.expanded(href='https://twitter.com/ZohdyPeter') Twitter
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  